{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-6"> 
        <img src="https://app.100ladrillos.com/src/assets/images/login-background.png?e71281b2fa3248ee3d3e5f6814b1ec59" style="width: 100%;
                min-height: 100%; position: relative; display: flex; justify-content: center; align-items: center;">
    </div>
    <div class="col-xs-6">
        <form method="post" style="padding:20px;margin-right:25px">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal" style="text-align:center;">Ingresa con</h1>
            <hr style="width: 80%; height: 2px; margin: 0 auto; margin-top: 0px;
                margin-bottom: 0px; background: #000; margin-top: 17px; margin-bottom: 24px;">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <br/>
            <div class="text-center">
                <button class="btn btn-lg btn-danger" type="submit">
                Iniciar sesión
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
