{% extends 'base.html.twig' %}

{% block title %}Brick index{% endblock %}

{% block body %}
    <h1>Brick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PropertyId</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brick in bricks %}
            <tr>
                <td>{{ brick.id }}</td>
                <td>{{ brick.propertyId }}</td>
                <td>{{ brick.price }}</td>
                <td>
                    <a href="{{ path('brick_show', {'id': brick.id}) }}">show</a>
                    <a href="{{ path('brick_edit', {'id': brick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('brick_new') }}">Create new</a>
{% endblock %}
